section{
  min-height: 420px;
}

#portfolio .card{
	transition: 0.4s easy;
}

#portfolio .card img{
	box-shadow: 0px 2px 10px rgba(0,0,0,0.15);
}

#portfolio .card{
	box-shadow: 0px 2px 10px rgba(0,0,0,0.15);
}

@media (min-width: 576px){
	
	#portfolio .transform-on-hover:hover{
		transform: translateY(-10px) scale(1.02);
		box-shadow: 0px 10px 10px rgba(0,0,0,0.15) !important;
	}
}
